[Unit]
Description=automatic fan speed management and dynamic power limit adjustment for NVIDIA GPUs
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/nvidiactl
Restart=always
RestartSec=3
SyslogIdentifier=nvidiactl

[Install]
WantedBy=graphical.target
